{% extends "base_display.html" %}

{% block title %}Zitat des Tages{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="/auszeit-display/static/css/display_pages/zitat.css">
{% endblock %}

{% block topic_image %}
  <img class="display-topic-image zitat-image"
       src="/auszeit-display/resources/zitate/{{ zitat.bild }}"
       alt="Porträt von {{ zitat.autor }}">
{% endblock %}

{% block content %}
  <section class="zitat-card">
    <div class="zitat-kicker">Täglich ein guter Gedanke</div>
    <h1>Zitat des Tages</h1>

    <blockquote class="zitat-text">„{{ zitat.text }}“</blockquote>

    <div class="zitat-author">
      <div class="zitat-author-name">{{ zitat.autor }}{% if lebensdaten %} <span>({{ lebensdaten }})</span>{% endif %}</div>
      <div class="zitat-author-description">{{ zitat.beschreibung }}</div>
    </div>
  </section>

{% endblock %}
